:root {
  --accent-100: hsl(159, 33%, 84%);
  --accent-200: hsl(168, 15%, 55%);
  --accent-300: hsl(46, 86%, 46%);
  --accent-400: hsl(209, 61%, 16%); /* diff from palette - more blue on screen */
  --background-100: hsl(210, 36%, 96%);
  --background-200: white;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p, 
section,
article,
input,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  background-color: var(--background-100);
  color: var(--accent-400);
  display: grid;
  place-content: center;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  cursor: pointer;
}

i {
  font-size: 1rem;
}

.fa-shield-check {
  width: 2rem;
  height: 2rem;
}

main {
  background-color: var(--background-200);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 7% 93%;
  max-height: 95vh;
  overflow: hidden;
}

.icon {
  width: 1rem;
  height: auto;
}

ul {
  list-style-type: none;
}

.header {
  grid-row: 1 / 2;
  grid-column-start: 2;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: space-between;
}

.search__wrapper {
  display: grid;
  grid-template-columns: auto 32px;
  align-items: center;
  gap: 1rem
}

.search__wrapper > button {
  background-color: var(--accent-300); /* maybe a linear gradient */
  border: 2px solid transparent; 
  border-radius: 10px;
}

input[type="search"]{
  border: 2px solid var(--accent-200);
  border-radius: 5px;
  min-width: 200px;
  outline: none;
  padding: 0 0.2rem;
}

.user__wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
  align-items: center;
  justify-self: end;
}

.greeting {
  line-height: 1;
}

.username {
  font-weight: 600;
  display: block;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.actions > button {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--accent-100);
}

.nav {
  grid-row: 1 / -1;
  grid-column-start: 1;
  display: grid;
  grid-template-rows: 50px 1.8fr 1fr;
  background-color: var(--accent-200);
  align-items: center;
  padding: 0.5rem 0;
  overflow: auto;
}

.logo__wrapper {
  display: flex;
  justify-self: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 5vh, 2rem);
  width: 100%;
}

.content__wrapper {
  grid-row: 2 / -1;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 20px 1fr;
  gap: 1rem;
  padding: 1rem;
}

.projects-title__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  gap: 1rem;
  min-width: 0;
  overflow-y: scroll;
  grid-row-start: 2;
}

.card {
  background-color: var(--accent-100);
  border-radius: 15px;
  padding: 1rem;
  overflow: scroll;
}

h2 {
  font-size: 1rem;
}

.sidebar > section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
}

.section__wrapper {
  border: 3px solid var(--accent-300);
  border-radius: 10px;
  overflow: scroll;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 1rem;
  grid-row: 1 / span 2;
  min-width: 0;
  overflow-y: scroll;
}

.announcement p {
  font-size: 0.7rem;
}

.announcement {
  padding: 0.5rem;
}

.announcement:not(:last-child) {
  border-bottom: 2px solid var(--accent-300);
}

.post {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  margin: 0.2rem 0;
}

.post p {
  line-height: 1.2;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 80%;
  background-color: var(--accent-100);
}
.post__title {
  opacity: 0.7;
}

.turtle {
  object-position: 60% 80%;
}

.goldfish {
  object-position: 0% 50%;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}
footer > a {
  text-decoration: none;
  color: var(--accent-400);
}

@media only screen and (max-width: 620px) {
  main {
    max-height: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .content__wrapper {
    grid-row: 3 / -1;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr auto;
    gap: 1rem;
    padding: 1rem;
  }

  .projects {
    grid-auto-rows: min-content;
  }

  .sidebar {
    grid-row: 3;

  }

  .sidebar > section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
  }

  .post {
    margin: 0.5rem 0;
  }

  .header {
    grid-row: 2;
    grid-column-start: 1;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0.3rem;
  }

  .nav {
    grid-row: 1;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    padding: 0 0.3rem;
    align-items: normal;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(0.5rem, 3vw, 1rem);
    width: 100%;
  }

  .pages {
    grid-column: 2;
  }

  .utilities {
    grid-column: 3;
    justify-content: end;
  }
  .logo__wrapper {
    justify-self: start;
  }

  .user__wrapper {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    justify-self: start;
  }
  .username {
    font-weight: 600;
    display: inline;
  }
  .user__wrapper > .profile {
    grid-column: 1;
    grid-row: 1;
  }
  .greeting {
    grid-column: 2;
    grid-row: 1;
  }
  .user__wrapper > .icon {
    grid-column: 3;
    grid-row: 1;
  }
  .search__wrapper {
    grid-row: 2;
  }
}